/* src/index.css */
@import './styles/base.css';
@import './styles/layout.css';
@import './styles/sections.css';
@import './components/common/ButtonNeon.css'; /* Importa CSS bottone */
@import './components/sections/ProjectCard.css';
@import "./components/sections/ProjectsGrid.css";
@import "./components/sections/ProjectsSlider.css";
@import './pages/PolicyPage.css'; /* <<<=== AGGIUNGI QUESTO */


/* Stile contenitore particelle */
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Dietro a tutto */
}